.todo-item {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    &.done{
        text-decoration: line-through;
    }
}
.todo-group {
    justify-self: center;
}

.todo-div {
    display: flex;
    align-items: center;
}

.delete-button {
    margin-left: 10px;
    cursor: pointer;
    padding: 6px;
}

.add-todo-div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.todo-input {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
}

.add-button {
    margin-left: 10px;
    cursor: pointer;
    padding: 6px 12px;
}